/* fonts */

@font-face {
    font-family: 'Circular Std Book';
    src: url('../fonts/CircularStd-Book.woff2') format('woff2'), url('../fonts/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Black.woff2') format('woff2'), url('../fontsCircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Circular Std Book';
}

h1,
h2,
h3,
h4,
p {
    font-family: 'Circular Std Book';
    color: #384049;
}

.btn {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
}

.btn-primary {
    background-color: #F4313F;
    border-color: #F4313F;
    color: #fff;
}

.btn-primary:hover {
    background-color: #F4313F;
    border-color: #F4313F;
    color: #fff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #F4313F;
    border-color: #F4313F;
}

.btn-tertiary {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
}

.btn-tertiary:hover {
    background-color: #edecec;
    border-color: #000000;
    color: #000000;
}

.btn-tertiary:not(:disabled):not(.disabled).active,
.btn-tertiary:not(:disabled):not(.disabled):active,
.show>.btn-tertiary.dropdown-toggle {
    color: #000000;
    background-color: #edecec;
    border-color: #000000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    top: 1px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f15b5b;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn-quaternary {
    background-color: #06c24b;
    border-color: #06c24b;
    color: #fff;
}

.btn-quaternary:hover {
    background-color: #05973a;
    border-color: #05973a;
    color: #fff;
}

.btn-quaternary:not(:disabled):not(.disabled).active,
.btn-tertiary:not(:disabled):not(.disabled):active,
.show>.btn-tertiary.dropdown-toggle {
    color: #fff;
    background-color: #06c24b;
    border-color: #06c24b;
}

.btn.focus,
.btn:focus {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #333;
    outline: 0;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) !important;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

input[type="number"] {
    text-align: right;
}

.btn-secondary {
    background-color: #384049;
    border-color: #384049;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #2a323a;
    border-color: #2a323a;
    color: #fff;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #384049;
    border-color: #384049;
}

.btn-navigation {
    background-color: #d7d9db !important;
    border-color: #d7d9db !important;
    color: #384049 !important;
    margin: 0 3px;
    font-weight: 700;
}

.btn-navigation:hover {
    background-color: #F4313F !important;
    border-color: #F4313F !important;
    color: #fff !important;
}

.btn-navigation:not(:disabled):not(.disabled),
.btn-navigation:not(:disabled):not(.disabled):active,
.show>.btn-navigation.dropdown-toggle {
    color: #fff;
    background-color: #d7d9db;
    border-color: #d7d9db;
}

.btn-navigation.active {
    background-color: #F4313F !important;
    border-color: #F4313F !important;
    color: #fff !important;
}

.btn-transparent {
    background-color: transparent !important;
}

.btn-transparent:not(:disabled):not(.disabled).active,
.btn-transparent:not(:disabled):not(.disabled):active,
.show>.btn-transparent.dropdown-toggle {
    outline: 0;
}

.btn-transparent.focus,
..btn-transparent:focus {
    outline: 0;
    box-shadow: none !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .50rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .50rem;
    border-right: 0;
}

.wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 90px;
    right: 20px;
    line-height: 60px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    z-index: 9999;
}

.wspover {
    display: none;
    width: 200px;
    height: auto;
    background-color: #666;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    position: absolute;
    left: -205px;
    top: 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.wsp:hover .wspover {
    display: block;
}

.wsp-icon {
    margin-top: 12px;
    color: #fff;
}

.ir-arriba {
    display: none;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    background-repeat: no-repeat;
    background-color: #F4313F !important;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 20;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
}

.ir-arriba .fa-stack {
    color: rgba(256, 256, 256, 1);
}

.ir-arriba:hover .fa-stack {
    color: rgba(256, 256, 256, 1);
}

/* Navigation */

nav#topnavigation {
    font-size: 14px;
    padding: 0;
}

nav#topnavigation .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

.icon-yellow {
    color: #c2a907;
}

.icon-yellow:active {
    color: grey;
}

.dropdown-toggle::after {
    display: none;
}

#cartnav {
    background-color: #F4313F;
    padding: 40px 0;
}

@media screen and (max-width: 768px) {
    #cartnav {
        padding: 10px 0;
        padding-bottom: 20px;
    }
}

#search-bar {
    width: 60%;
    border: transparent;
    background: transparent;
}

#search-bar:focus {
    box-shadow: none !important;
}

.mw-200 {
    max-width: 300px;
    margin-left: 0 !important;
}

#search-form {
    background-color: white;
    border-radius: 5px;
    padding: .3rem;
}

#search-form button {
    background-color: transparent;
}

#search-form button:focus {
    box-shadow: none;
}

.cart-button {
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    padding: .5rem 2rem;
    border-radius: 5px;
}

.cart-button:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

.cart-icon {
    width: 30px;
}

.logo {
    width: 75%;
    max-width: 200px;
}

.dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    margin-top: 0;
}

.megabtn {
    border: transparent;
    background: transparent;
    cursor: pointer;
    padding: 5px 30px;
    font-weight: 600;
    height: 45px;
    font-size: 14px;
    color: #384049;
}

.megabtn:hover {
    text-decoration: none;
    background-color: white;
}

.megabtn:active {
    border: white;
    background-color: white;
}

.megabtn:focus {
    outline: none;
}

.megamenu {
    z-index: 99;
    width: 90%;
    position: absolute;
    background-color: #fff;
    left: 5%;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
}

.megamenu-close {
    content: "";
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: block;
}

.container-megamenu {
    padding-bottom: 50px;
}

.mega-header {
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
}

.mega-header h5 {
    padding-left: 2em;
}

.mega-title {
    font-size: 1rem;
    padding-left: 2rem;
    padding-top: 20px;
    font-weight: 700;
    color: #f4313f;
}

.mega-title:hover {
    color: #f4313f;
    text-decoration: none;
}

.mega-link {
    text-decoration: none;
    color: #8a8f94;
    font-size: 14px;
    font-weight: 600;
    padding-left: 2rem;
}

#check-nav select {
    border: 1;
    background-color: transparent;
}

#check-nav select:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#check-nav .form-check-input {
    margin-top: 0.7rem;
}

#check-nav select {
    color: #343a40;
}

@media (min-width:1100px) {
    #check-nav {
        position: absolute;
        right: 4%;
        top: 20%;
    }
}

@media (max-width:1100px) {
    #cartnav .col-auto {
        width: 92%;
    }
}

@media (max-width:755px) {
    #cartnav {
        padding-left: 0;
    }

    .cart-button {
        margin-top: 15px;
    }

    .logo {
        max-width: 260px;
    }
}

/*Titles*/

@media (max-width:755px) {
    h5 {
        font-size: 1rem;
    }
}

/* Slider*/

#slidernav {
    background-color: #f6db00;
    height: 45px;
}

#slidernav .owl-dots {
    display: none;
}

#slidernav .owl-prev {
    background-color: #f6db00;
    color: #384049 !important;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    font-size: 30px !important;
    position: absolute;
    top: -5px;
    left: -5px;
    display: block !important;
}

#slidernav .owl-prev:focus {
    outline: none;
}

#slidernav .owl-next {
    background-color: #f6db00;
    color: #384049 !important;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    font-size: 30px !important;
    position: absolute;
    top: -5px;
    right: -5px;
    display: block !important;
}

#slidernav .owl-next:focus {
    outline: none;
}

#topslider .owl-dot.active span {
    background: #F4313F;
}

.slider-container {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (max-width: 992px) {
    .slider-container {
        text-align: center;
    }
}

.banner-img {
    max-height: 100%;
    height: auto;
}

@media only screen and (max-width: 1199px) {
    .banner-img {
        max-height: 210px;
        height: auto;
    }
}

@media only screen and (max-width: 799px) {
    .banner-img {
        max-height: 140px;
        height: auto;
    }
}

@media only screen and (max-width: 534px) {
    .banner-img {
        max-height: 120px;
        height: auto;
    }
}

.s-title {
    font-size: 55px;
}

.btn-top {
    background-color: #F4313F;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 8px 30px;
}

#topslider .owl-dots {
    position: absolute;
    margin-top: -27px;
    right: 46%;
}

.h-slider {
    height: auto;
    padding: 10px;
}

#brandslider .owl-dots {
    display: none;
}

#brandslider .owl-prev {
    color: white !important;
    width: 30px;
    top: 45%;
    left: -3%;
    height: 30px;
    font-size: 20px !important;
    position: absolute;
    display: block !important;
    background: #F4313F;
    border-radius: 50%;
}

#brandslider .owl-prev:focus {
    outline: none;
}

#brandslider .owl-next {
    color: white !important;
    width: 30px;
    top: 45%;
    right: -5%;
    height: 30px;
    font-size: 20px !important;
    position: absolute;
    display: block !important;
    background: #F4313F;
    border-radius: 50%;
    font-weight: 600 !important;
}

.products-slider .owl-prev {
    color: white !important;
    width: 30px !important;
    top: 45% !important;
    left: -5% !important;
    height: 30px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    position: absolute;
    display: block !important;
    background: #F4313F !important;
    border-radius: 50% !important;
}

.products-slider .owl-next {
    color: white !important;
    width: 30px !important;
    top: 45% !important;
    right: -5% !important;
    height: 30px !important;
    font-size: 20px !important;
    position: absolute !important;
    display: block !important;
    background: #F4313F !important;
    border-radius: 50% !important;
    font-weight: 600 !important;
}

.products-slider .owl-dots {
    display: none;
}

.slider-card {
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: transparent;
    -webkit-box-shadow: 0px 0px 20px -8px rgba(71, 71, 71, 0.38);
    -moz-box-shadow: 0px 0px 20px -8px rgba(71, 71, 71, 0.38);
    box-shadow: 0px 0px 20px -8px rgba(71, 71, 71, 0.38);
    position: relative;
}

.sale {
    background-color: #F4313F;
    color: #fff;
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 65px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    display: block;
    right: 40px;
    top: 40px;
}

.slider-card .sale {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 10px;
    right: 15px;
    top: 15px;
}

.price {
    color: #343a40;
    font-weight: 400;
    font-size: 18px;
    margin-top: 3px;
}

.card-title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    height: 30px;
    text-align: center;
}

.slider-card .btn-primary {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
}

.btn-card:hover {
    color: #343a40;
}

.img-card {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    background-size: auto 100%;
}

.img-card-big {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 250px;
}

.width-20 {
    width: 20%;
    position: relative;
    min-height: 1px;
    padding: 8px;
}

.border-brand {
    border: 9px solid #F4313F !important;
}

.bg-brand {
    background-color: #F4313F;
}

/* Tables */

table {
    font-size: 14px;
}

.dataTables_info {
    display: none;
}

#table1_paginate {
    display: none;
}

#table2_paginate {
    display: none;
}

table thead {
    background-color: #384049;
    color: white;
}

/* Step form */

.stepwizard-step p {
    margin-top: 0px;
    color: #2b353e;
    font-weight: 600;
    margin-bottom: 0;
    padding: 0;
}

.stepwizard-step label {
    color: #2b353e;
    font-weight: 600;
}

.stepwizard-row {
    /*display: table-row;*/
    display: flex;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
}

.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
  filter: alpha(opacity=100) !important;*/
}

.stepwizard .btn.disabled,
.stepwizard .btn[disabled],
.stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #bbb;
    background: #999;
    font-weight: 900;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 22px;
    line-height: 1.428571429;
    border-radius: 50%;
    background-color: #F4313F;
    color: white;
    font-weight: 900;
}

.btn-brand {
    background-color: #F4313F;
    color: white;
}

.btn-steps {
    font-weight: 900;
    color: #fff;
    background-color: #F4313F;
    border-color: #F4313F;
}

.subtotal {
    border: solid 1px grey;
    border-radius: 10px;
}

.subtotal p {
    margin: 0;
    font-weight: 600;
}

.form-control {
    font-size: 14px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
}

.br-10 {
    border-radius: 10px;
}

.custom-file-label {
    border: none;
}

.custom-file-label::after {
    content: "Seleccionar archivo" !important;
    color: #fff !important;
    background-color: #F4313F !important;
    border-color: #F4313F !important;
    border-radius: 10px !important;
}

/* footer */

.footer {
    background-color: #242930;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    padding: .5rem 1rem;
    color: white;
    font-weight: 600;
}

footer .nav-link {
    padding: .25rem 1rem;
    color: #979797;
    font-weight: 600;
}

.footer-logo {
    max-width: 200px;
}

.text-white {
    color: white;
}

.contact-p {
    color: #979797;
    padding-top: 0;
    padding-bottom: 0;
}

footer .list-inline {
    padding-left: 17px;
}

footer .fab {
    color: #979797;
}

.login-main {
    display: flex;
    justify-content: stretch;
    position: absolute;
    width: 100%;
    height: 100%;
}

.login-main .login-form {
    background-color: #fff;
    width: 30%;
    padding: 1em 4em;
    overflow-y: auto;
}

.login-main .login-form h2 {
    font-size: 1.5em;
}

.login-main .login-form p {
    font-size: 0.9em;
}

.login-main .login-form .login-logo {
    max-width: 200px;
}

.login-main .login-form .login-links {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.login-main .login-form .login-links li {
    list-style: none;
    line-height: 25px;
}

.login-main .login-form .login-links li a {
    color: #666;
    font-size: 0.9em;
    text-decoration: underline;
}

.login-main .login-banner {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.login-main .login-banner .login-banner-header {
    background-color: #F4313F;
    height: 10%;
    text-align: right;
    min-height: 100px;
}

.login-main .login-banner .login-banner-header img {
    height: 100%;
}

.login-main .login-banner .login-banner-body {
    height: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.login-main .login-banner .login-banner-footer {
    background-color: #15191e;
    height: 15%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.login-main .login-banner .login-banner-footer p {
    margin: 0;
    padding: 0;
    color: rgba(256, 256, 256, 0.6);
    font-size: 14px;
}

.login-main .login-banner .login-banner-footer img {
    width: 150px;
    margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
    .login-main .login-form {
        width: 35%;
    }

    .login-main .login-banner {
        width: 65%;
    }

    .login-main .login-banner .login-banner-body {
        height: 70%;
    }

    .login-main .login-banner .login-banner-footer {
        height: 20%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    .login-main .login-banner .login-banner-footer .login-banner-footer-contacto {
        width: 70%;
    }
}

@media screen and (max-width: 992px) {
    .login-main {
        display: flex;
        justify-content: stretch;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .login-main .login-form {
        width: 100%;
        padding: 2em;
    }

    .login-main .login-banner {
        display: none;
    }
}

#exzoom {
    width: 100%;
}

.hidden {
    display: none;
}

.exzoom .exzoom_btn a.exzoom_next_btn {
    left: auto;
    right: -30px;
}

.exzoom .exzoom_btn a {
    display: block;
    width: 30px;
    border: none;
    height: 60px;
    line-height: 60px;
    background: #fff;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: -62px;
    text-decoration: none;
    color: #999;
}

.exzoom .exzoom_btn:hover a {
    background-color: #fff;
    color: #999 !important;
}

.exzoom .exzoom_nav .exzoom_nav_inner span.current {
    border: 2px solid #F4313F;
}

.input-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.input-count .form-control {
    font-size: 18px;
}

.input-count .menos,
.input-count .mas {
    border: 0;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: #384049;
}

.stock span {
    color: #6eaa56;
}

.precio {
    color: #384049;
    font-size: 30px;
    font-weight: bold;
}

.custom-tabs {
    background-color: #ebeced;
    margin-top: 3em;
}

.custom-tabs .nav-link {
    border: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 32px;
    padding-right: 32px;
    border: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    color: #666;
    font-weight: bold;
}

.custom-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #3a3a3a;
    background-color: #c7c7c7;
    border-color: #dee2e6 #dee2e6 #fff;
}

.container-cards-grid {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.grid-card {
    flex-basis: 19.2%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    margin-bottom: 30px;
    padding: 30px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border: transparent;
    -webkit-box-shadow: 0px 0px 20px -8px rgba(71, 71, 71, 0.38);
    -moz-box-shadow: 0px 0px 20px -8px rgba(71, 71, 71, 0.38);
    box-shadow: 0px 0px 20px -8px rgba(71, 71, 71, 0.38);
}

@media screen and (max-width: 550px) {
    .grid-card {
        flex-basis: 100%;
    }
}

.grid-card:nth-child(5n) {
    margin-right: 0;
}

.nav-search-grid {
    background-color: #ebecec;
    margin-bottom: 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-search-grid .btn {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    border: solid 1px #ccc;
    background-color: rgba(256, 256, 256, 1) !important;
}

.nav-search-grid label {
    padding: 0;
    margin: 0;
}

.grid-link {
    color: #384049;
}

.grid-link:hover {
    color: #384049;
}

.grid-link.active {
    color: #F4313F;
}

table .input-count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

table .input-count input {
    max-width: 80px;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.table .fa-check {
    color: #25d366;
}

.table .fa-times {
    color: #d32525;
}

table .input-count .form-control {
    font-size: 18px;
    min-width: 80px;
    line-height: 1px;
}

table .input-count .menos,
.input-count .mas {
    border: 0;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: #384049;
}

.progressbar {
    counter-reset: step;
    margin: 0;
    padding: 0;
}

.progressbar li {
    list-style: none;
    display: inline-block;
    width: 24%;
    position: relative;
    text-align: center;
    color: #575759;
    vertical-align: top;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #f2f2f2;
    font-weight: 900;
    font-size: 18px;
}

.progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ddd;
    top: 25px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {}

.progressbar li.active:before {
    background: #F4313F;
    color: #fff;
}

.progressbar li.active+li:after {
    background-color: #F4313F;
}

.progressbarsection {
    margin: 30px auto;
}

.progress-steps {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.progress-steps li {
    list-style: none;
    padding: 20px 30px 20px 30px;
    border-bottom: solid 3px transparent;
    min-height: 70px;
}

.progress-steps li span {
    font-weight: bold;
    color: #F4313F;
    margin-right: 10px;
}

.progress-steps li.active {
    border-bottom: solid 3px #F4313F;
}

@media screen and (max-width: 992px) {
    .progress-steps li {
        list-style: none;
        padding: 20px 15px 20px 15px;
        border-bottom: solid 3px transparent;
    }

    .progress-steps li span {
        margin-right: 0px;
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .progress-steps li {
        list-style: none;
        padding: 20px 0px 20px 0px;
        border-bottom: solid 3px transparent;
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) {
    .progressbar li {
        font-size: 12px;
    }
}

.box-totals {
    border: solid 1px #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 40px;
}

.box-totals span {
    font-size: 18px;
}

@media screen and (max-width: 992px) {
    .btn {
        display: block;
        width: 100%;
    }

    .form-inline .btn {
        width: auto;
        display: block;
    }

    .slider-container .btn {
        width: auto;
        display: block;
    }

    .nav-tabs .nav-item {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.modal-big {
    max-width: 960px;
}

.modal-big {
    width: 100%;
    max-width: 1200px;
}

.dropdown-menu {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
    min-width: 12rem;
    border-radius: 0px 0px 6px 6px !important;
    -moz-border-radius: 0px 0px 6px 6px !important;
    -webkit-border-radius: 0px 0px 6px 6px !important;
    -o-border-radius: 0px 0px 6px 6px !important;
    border: 0 !important;
}

.nav-link.dropdown-toggle[aria-expanded="true"] {
    background-color: #fff;
    color: #15191e;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #15191e;
}

.btn-search-navbar {
    width: auto;
    color: #fff;
    font-size: 20px;
}

.btn-menu {
    width: auto;
    color: #fff;
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .titulo-producto-modal {
        font-size: 18px;
    }

    .codigo-modal {
        font-size: 14px;
    }
}

.alerta {
    border: solid 1px #ccc;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 25px;
    margin-bottom: 25px;
}

.custom-tab {
    background-color: rgb(235, 235, 235);
}

.custom-tab .nav-link {
    padding: 1rem 1rem;
    color: #666;
}

.custom-tab .nav-link {
    padding: 1rem 1rem;
    color: #666;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-tab .nav-link.active,
.custom-tab .show>.nav-link {
    color: #fff !important;
    background-color: #384049 !important;
}

.form-pedidos {
    background-color: rgb(230, 230, 230);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 30px;
}

@media screen and (max-width: 600px) {
    .modal-body {
        padding: 0rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .btn {
        font-size: 13px;
    }

    .img-producto-modal {
        max-width: 180px;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-top: -40px;
    }

    .galery {
        margin-left: -15px !important;
    }
}

@media (max-width: 400px) {
    .exzoom .exzoom_btn a.exzoom_next_btn {
        right: 0px;
    }
}






.landing-main {
    display: flex;
    justify-content: stretch;
    position: absolute;
    width: 100%;
    height: 100%;
}

.landing-main .landing-aside {
    background-color: #fff;
    width: 30%;
    padding: 1em 2em;
    overflow-y: auto;
}

.landing-main .landing-aside h2 {
    font-size: 1.3em;
    line-height: 1.2em;
}

.landing-main .landing-aside .landing-logo {
    max-width: 200px;
}

.landing-main .landing-banner {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.landing-main .landing-banner .landing-banner-header {
    background-color: #f4313f;
    height: 10%;
    text-align: right;
}

.landing-main .landing-banner .landing-banner-header img {
    height: 100%;
}

.landing-main .landing-banner .landing-banner-body {
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 1200px) {
    .landing-main .landing-aside {
        width: 30%;
    }

    .landing-main .landing-banner {
        width: 70%;
    }

    .landing-main .landing-banner .landing-banner-body {
        height: 90%;
        background-position: 30% center;
    }

    .landing-main .landing-aside {
        padding: 0.5em 1em;

    }
}

@media screen and (max-width: 992px) {
    .landing-main {
        display: flex;
        justify-content: stretch;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .landing-main .landing-aside {
        width: 100%;
        padding: 2em;
    }

    .landing-main .landing-banner {
        display: none;
    }
}

.paises {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.paises li {
    list-style: none;
    margin-bottom: 10px;
}

.paises li a {
    display: block;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 14px;
    color: #666;
    padding: 10px 30px;

    transition: all 280ms;
    -o-transition: all 280ms;
    -moz-transition: all 280ms;
    -webkit-transition: all 280ms;
}

.paises li a img {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    max-width: 26px;
    margin-right: 10px;

    transition: all 280ms;
    -o-transition: all 280ms;
    -moz-transition: all 280ms;
    -webkit-transition: all 280ms;
}

.paises li a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 40px;
}

.paises li a:hover img {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.category {
    color: #F4313F;
}

.category:hover {
    color: #F4313F;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #F4313F !important;
}

.dropdown-item-solicitante {
    white-space: unset !important;
}

.no-border {
    border: none;
}

.link-no-decoration {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.pagination a,
.descargar_buttons button {
    margin-top: 5px;
}

@media only screen and (min-width: 520px) {
    .descargar_buttons {
        display: flex !important;
    }