@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

a, a:hover{
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a.selected{
	font-weight: bold;
}
/*
.cuadro_producto h3 a, .cuadro_producto h3 a:hover{
	color: black !important;
}
*/

html{ font-family: 'Roboto', sans-serif; !important; }
header{ width:100%; background:#e7312d; min-height:100%; }
footer{ width:100%; background:#e6e7e8; }


.menu_franquiciados{ width:100%; background:#f8e34b; }
.nav_disensa{ font-family: 'Roboto', sans-serif; width:100%;  background:#f8e34b; color:#58595b; border:0; font-size: 15px;  }

ul.dropdown-menu li.item_notificacion{width:250px; height:auto; word-wrap:break-word; background-color:#DBDADA; border-bottom:1px solid #D3D3D3; }
ul.dropdown-menu li.item_notificacion a{ white-space:pre-line; /*font-size:11px;*/ color:#313131; }
ul.dropdown-menu li.item_notificacion a img{ padding:3px;}
ul.dropdown-menu li.item_notificacion:nth-child(odd) { background-color:#fff;}

.principal{max-width:960px; margin:0 auto; }
//.logo{ text-indent:-1000px; display:none; }
.menu_superior_ayuda{ text-align:right; }
.style_none{ background:none; border:0; }
.items_globo{ width:25px; height:29px; display:block; background:url(../img/globo_items.png) top left no-repeat; text-align:center; line-height:29px; margin:0 auto; font-style:oblique; }


.delimitador_buscador{border:2px solid #fff; border-radius:6px; }
.porta_buscador{ border: solid thick #e7312d; -moz-border-radius: 10px; border-radius: 10px; padding:10px; }
.comp_buscar{ height:50px;}
.btn_comp_buscar{border:none; text-indent:-9000; padding:0; }
.txt_franquicia{ font-size: 16px; }

.panel_home_red{ background:#e7312d; color:#fff; padding-top:10px; padding-bottom:10px; font-family: 'Roboto', sans-serif; }
.panel_porta_cuadro_red{ border:1px solid #bababa; height: 126px; }
.red{
	color: #E7312D!important;
}

#content_menu_izq{ height: 100%; }
.menu_estatic{ height: 100%; overflow:hidden; }


		#accordion_menu{
			height: 100%;
			overflow:scroll;
		}

		#accordion_menu ol {
			list-style: none;
			border: 1px solid #cccccc;
			margin: 0px;
			padding: 0px;
			min-width: 150px;
			max-width: 100%;
			font-family: 'Roboto', sans-serif; !important
			height:auto;

		}

		#accordion_menu ol li.item_principal:nth-child(odd) {
			background-color:#f1f1f2;


		}
		#accordion_menu ol li.item_principal{
			background-color:#fff;
			padding-left:5px;
			padding-top:5px;
			height: 26px;
			cursor:pointer;
			color:#58595b;
		}


		#accordion_menu ol li {
			height: 20px;
			border-bottom: 1px solid #cccccc;
			/*transition: height 1s ease-in-out;
			-webkit-transition: height 1s ease-in-out;
			-moz-transition: height 1s ease-in-out;
			-ms-transition: height 1s ease-in-out;
			-o-transition: height 1s ease-in-out; */
			overflow: hidden;
		}

		#accordion_menu ol li:last-child {
			border-bottom: 0px;
		}



		#accordion_menu ol li ol{
			opacity: 0;
			padding-left: 10px;
			padding-right: 10px;
			border: 0px;
			max-width: 100%;
			max-height: 100%;
			overflow-y: auto;
			transition: all 1s ease-in-out;
			-webkit-transition: all 1s ease-in-out;
			-moz-transition: all 1s ease-in-out;
			-ms-transition: all 1s ease-in-out;
			-o-transition: all 1s ease-in-out;
		}












#menu_principal{ margin-bottom: 5px; }
#menu_principal .navbar-nav>.active>a{ background:none; color:#e7312d; }
#menu_principal .navbar-nav>.open>a{ background:none; color:#e7312d; }


.izq{float:left}
.der{ float:right;}

.blanco{ color:#FFFFFF; }
.rojo{color:#e7312d;}
.amarillo{color:#FEDD00;}
.verde{color:#008100;}

.bg_verde{background:#37b34a;}
.bg_plomo_claro{ background:#f1f1f2 !important; color: black !important;}



.end_wrapper{ width:100%; height:100px; background:url(../img/bandera_footer2.jpg) top left repeat-x; }
.content_mapa_sitio{ border-right: 1px solid #6d6e70; }
.texto_listado_footer{ font-family: 'Roboto', sans-serif; font-size:10px; list-style:none; color:#6d6e70; }
.texto_listado_footer li a{ color:6d6e70;  text-decoration:none;  }
.titulo_footer { font-family: 'Roboto', sans-serif; font-size:12px; color:#58595b;  text-decoration:none;}
.titulo_footer a{ font-family: 'Roboto', sans-serif; font-size:12px; color:#58595b;  text-decoration:none;}
a.link_footer{ font-family: 'Roboto', sans-serif; font-size:10px; list-style:none; color:#6d6e70;  }

.contenedor_producto{ padding:12px;}
.porta_producto_top{ border:1px solid #bbbdbf;}
.porta_contenido_producto{ width:90%; margin:0 auto; color:#6d6e70;  }
.porta_contenido_producto h3.titulo_producto{ color:#000; font-family: 'Roboto', sans-serif; !important;}
.opc_producto{ color:#404041; font-size:10px; font-family: 'Roboto', sans-serif; !important; }
.producto_descrip_txt{ background:#f1f1f2; font-family: 'Roboto', sans-serif; !important; color:#58595b; min-height:335px;}
.producto_descrip_txt p{ padding:10px; }
.producto_descrip_txt_header{ background:#e7312d; color:#fff; padding-top:3px; padding-bottom:3px;  }

.productos_recomendaciones_lista{
	margin-bottom: 40px;
}
.productos_recomendaciones h2{
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #BBBDBF;
	padding-bottom: 10px;
}
.cuadro_recomendaciones {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-right: 1px solid #BBBDBF;
	border-radius: 0px !important;
	padding: 0;
}
.cuadro_recomendaciones_last {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 0px !important;
	padding: 0;
}
.cuadro_recomendaciones h3, .cuadro_recomendaciones_last h3{
	font-size: 17px;
	font-weight: 700;
}
.cuadro_recomendaciones img, .cuadro_recomendaciones_last img{
	float: left;
}
.cuadro_recomendaciones p, .cuadro_recomendaciones_last p{
	font-size: 11px;
	line-height: 11px;
}

.panel-body {
padding: 5px 10px;
}

.panel_home_red {
padding-top: 5px;
padding-bottom: 5px;
}





 #gallery_01 img{border:2px solid white; width: 40px; height:40px; margin-top:5px;}
// .active img{border:2px solid #f1f1f2 !important;}
 .img_produ_principal{ border:1px solid #f1f1f2 !important; padding:5px; }


.btn-red{
	margin-bottom: 0!important;
}

.content-red{ background-color: #E7312D!important; position: absolute;bottom: 0;width: 100%;margin-left: -15px; }

.btn-carretilla, .btn-carretilla:hover{
	background-color: #E7312D!important;
	background-image: url(../img/carretilla.png);
	background-repeat: no-repeat;
	background-position: 134px 5px;
	border-radius: 0px!important;
	color: #FFFFFF;
	font-size: 12px;
	margin-left: -15px!important;
	padding-right: 64px!important;
	text-align: left;
}

.btn-pague-aqui, .btn-pague-aqui:hover{
	background-color: #E7312D!important;
	background-repeat: no-repeat;
	border-radius: 0px!important;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
}

.btn-ampliar, .btn-ampliar:hover{
	background-color: #E7312D!important;
	border-radius: 0px!important;
	color: #FFFFFF;
	font-size: 12px;
	text-align:center;
	width:100%;
}


.outer {position:relative;}
.inner {overflow:auto; width:100%; height:100%; }
#list_items_carreta{width:100%; margin:0 auto;}
#list_items_carreta thead{ background-color:#E7312D; color:#fff; padding:2px; }
#list_items_carreta thead tr td{  font-family: 'Roboto', sans-serif; !important; text-align:left; padding-left:3px; padding-right:3px;	text-align: center; border: solid thin;}
#list_items_carreta tbody tr{background:#fff;border-bottom: 1px solid #bababa;}
#list_items_carreta tbody tr:nth-child(odd){background:#e6e7e8;}
#list_items_carreta tbody tr td{ padding:3px; font-size:12px; text-align:center; font-family: 'Roboto', sans-serif; !important; color:#58595b; border: 1px solid #bababa;}
#list_items_carreta tbody tr td a.equis_grande{ font-size:26px; color:#E7312D; text-align:center; padding:3px; text-decoration:none; }
#resultados{ padding:12px; }
.metodos_info{ background-color: #9b9d9d; min-height: 230px; padding-top: 19px; }
#resultados .lbl_tarjeta{ color:#fff; font-size:12px;}
#resultados .metodos_info .bloq{ border-right:1px solid #fff; }
.valor_total{ font-family: 'Roboto', sans-serif; !important; background-color: #E7312D; color:#fff; font-size:30px; padding:10px 0; }
#resultados .valor_total span{ font-size:26px;}
.btn-pago, .btn-pago:hover{
	background-color: #E7312D!important;
	border-radius: 0px!important;
	color: #FFFFFF;
	font-size: 25px;
	font-weight: bold;
	text-align:center;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
}

.btn-pago-plomo, .btn-pago-plomo:hover{
	background-color: #53565A!important;
	border-radius: 0px!important;
	color: #FFFFFF;
	font-size: 25px;
	font-weight: bold;
	text-align:center;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
}

/* Formulario */

.formulario{
	border: 1px solid #BBBDBF;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 40px;
}

.formulario h2{
	background: url(../img/bg_actualizacion.png) 10px 3px no-repeat;
	color: #E7312D;
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	font-weight: 700;
	padding-left: 40px;
}
.formulario p{
	font-size: 15px;
	font-weight: 700;
}

.etiqueta_formulario{
	font-size: 13px;
	font-weight: 400;
	text-align: left!important;
}
.etiqueta_usuarios{
	font-size: 14px;
	font-weight: 400;
	text-align: left!important;
	padding-left: 0;
}
.campo_usuarios{
	margin-bottom: 20px;
}
.btn_formulario{
	background-color: #E7312D!important;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	margin: 20px auto;
	padding: 8px 50px!important;
}
.btn_formulario:hover{
	color: #FFFFFF;
	text-decoration: none;
}

/*
hr{
	border-top: 3px solid #E7312D!important;
}
*/

/* Estilos para la página general de productos */
.barra_amarilla{
	background-color: #F8E34B;
	margin: 15px 0px;
	padding: 10px 0;
}
.barra_amarilla p{
	display: inline-block;
	font-size: 10px;
	margin-bottom: 0!important;
	padding: 5px;
}
.vista_activa{
	color: #E7312D;
}
.col-cen {
	border-left: 1px solid #404041;
	border-right: 1px solid #404041;
}
.selector-num{
	display: inline-block;
	font-size: 11px;
	height: 22px;
	padding: 0;
	width: 40px;
}
.selector-text{
	background-color: #F0EFEC;
	display: inline-block;
	font-size: 11px;
	height: 22px;
	padding: 0;
	width: 100px;
}
/*
.cuadro_producto {
	background-color: white;
	border: 1px solid #BBBDBF;
	border-radius: 0px !important;
	padding: 0;
	height: 250px;
	position: relative;
}

.cuadro_producto h3{
	font-size: 15px;
	font-weight: 700;
	margin-top: 0;
	padding-top: 10px;
  text-align: justify;
}

.cuadro_producto p{
	font-size: 10px;
  size: 30px;
}
.cuadro_producto img{
  height: 120px; width: 120px;
	padding: 10px 0;
}

.cuadro_producto_texto{
	background-color: #FFFFFF;
	padding: 0 14px!important;
}
*/

.btn-red{
	margin-bottom: 0!important;
}
.btn-red .btn-carretilla, .btn-red .btn-carretilla:hover{
	background-color: #E7312D!important;
	background-image: url(../img/carretilla.png);
	background-repeat: no-repeat;
	background-position: 134px 5px;
	border-radius: 0px!important;
	color: #FFFFFF;
	font-size: 12px;

	padding-right: 65px!important;
	text-align: left;
}
.productos_recomendaciones_lista{
	margin-bottom: 60px;
}
.productos_recomendaciones h2{
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #BBBDBF;
	padding-bottom: 10px;
}
.cuadro_recomendaciones {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-right: 1px solid #BBBDBF;
	border-radius: 0px !important;
	padding: 0;
}
.cuadro_recomendaciones_last {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 0px !important;
	padding: 0;
}
.cuadro_recomendaciones h3, .cuadro_recomendaciones_last h3{
	font-size: 17px;
	font-weight: 700;
}
.cuadro_recomendaciones img, .cuadro_recomendaciones_last img{
	float: left;
}
.cuadro_recomendaciones p, .cuadro_recomendaciones_last p{
	font-size: 11px;
	line-height: 11px;
}
.end_wrapper{ width:100%; height:100px; background:url(../img/bandera_footer2.jpg) top left repeat-x; }
.content_mapa_sitio{ border-right: 1px solid #6d6e70; }
.texto_listado_footer{ font-family: 'Roboto', sans-serif; font-size:12px; list-style:none; color:#6d6e70; }
.texto_listado_footer li a{ color:6d6e70;  text-decoration:none;  }
.titulo_footer { font-family: 'Roboto', sans-serif; font-size:14px; color:#58595b;  text-decoration:none;}
.titulo_footer a{ font-family: 'Roboto', sans-serif; font-size:14px; color:#58595b;  text-decoration:none;}
a.link_footer{ font-family: 'Roboto', sans-serif; font-size:12px; list-style:none; color:#6d6e70;  }

.codigo_txt span { font-size: 15px; }

.equal {
    display:table;
}
#lista{
	border: 1px solid #bababa;
}

#lista .item{
	border-bottom: 1px solid #bababa;
	padding-top: 5px;
	height: 32px;
}

#lista .row{
	margin: 0 !important;
}

.btn-lista-carretilla, .btn-lista-carretilla:hover{
	background-color: #E7312D!important;
	background-image: url(../img/carretilla.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	border-radius: 0px!important;
	color: #FFFFFF;
	font-size: 12px;
	padding-right: 54px!important;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-decoration: none;
}

.btn-red-opcion, .btn-red-opcion:hover{
	background-color: #E7312D!important;
	background-repeat: no-repeat;
	background-position: 121px 5px;
	border-radius: 0px!important;
	color: #FFFFFF;
	font-size: 12px;
	padding: 5px 10px 5px 10px !important;
	text-align: left;
	text-decoration: none;
}

.btn-plomo-opcion, .btn-plomo-opcion:hover{
	background-color: #53565A!important;
	background-repeat: no-repeat;
	background-position: 121px 5px;
	border-radius: 0px!important;
	color: #FFFFFF;
	font-size: 12px;
	padding: 5px 10px 5px 10px !important;
	text-align: left;
	text-decoration: none;
}

.btn-yellow-opcion, .btn-yellow-opcion:hover{
	background-color: #FEDD00!important;
	background-repeat: no-repeat;
	background-position: 121px 5px;
	border-radius: 0px!important;
	color: #FFFFFF;
	font-size: 12px;
	padding: 5px 10px 5px 10px !important;
	text-align: left;
	text-decoration: none;
}

#vista_lista, #vista_cuadricula{
	cursor: pointer;
}

#agregado_container, #lista{
	display: none;
}

#agregado_container{
	text-align: center;
}

#saldo_detalle{
	display: none;
}

.noticia_titulo h3{
	color: #e7312d;
	font-size: 25px;
	font-weight: bold;
}
/*

.cuadro_producto_texto h3{text-align: left}

.cuadro_producto_texto h3, .cuadro_producto_texto .codigo_txt{
margin: 0;
}

.cuadro_producto_texto h3{
alignment-adjust: central; background-size: auto;
}

*/
#lista .item input{
	height: 20px !important;
	text-align: right;
}

.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

.noticias_title h1 {
color: #e7312d;
font-weight: bold;
margin: 0;
}

.noticia_preview {
border-bottom: solid thin #e7312d;
margin-bottom: 10px;
padding-bottom: 15px;
}

/* Pantalla login */
.principal_login{
	margin: 50px auto;
}

.social-btn-text{
	top: 18px;
}

.image_login {
   font-family: 'Roboto', sans-serif;
   position: relative;
   width: 100%; /* for IE 6 */
}

.image_login h2{
   	background-color: rgba(255,255,255,0.8);
   	color: #E7312D;
   	font-size: 20px;
   	font-weight: 700;
   	position: absolute;
   	bottom: -10px;
	padding: 12px 0 12px 20px;
   	width: 100%;
}
.image_login p{
	background-color: rgba(255,255,255,0.8);
   	font-size: 12px;
   	font-weight: 300;
   	position: absolute;
   	top: 215px;
   	padding: 10px 20px 15px;
   	text-align: justify;
   	width: 90%;
}

.etiqueta {
	color: #58595B;
}

h2.sesion{
	color: #58595B;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
}

.cuadro{
	border: 1px solid #BBBDBF;
	font-family: 'Roboto', sans-serif;
}

.pregunta, .pregunta a, .pregunta a:hover {
	color: #E7312D;
	font-size: 10px;
	text-decoration: none;
}

.btn_ingresar {
	background-color: #E7312D!important;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10px;
	padding: 8px 50px!important;
	position: relative;
	left: 0px;
}

.btn_ingresar:hover{
	color: #FFFFFF;
}

.item_carrito .codigo, .item_carrito .proveedor{
	width: 40px;
}

.item_carrito .pago {
width: 140px;
}

.item_carrito .fecha{
	width: 90px;
}

.item_carrito .cantidad{
	text-align: center;
	width: 40px;
}

.item_carrito .cantidad input{
	width: auto;
}

.breadcrumb{
	padding: 5px 0;
	margin: 0;
}
/*
.cuadro_producto .codigo_txt {
position: absolute;
bottom: 45px;
}

.cuadro_producto .proveedor {
	position: absolute;
	bottom: 22px;
}
*/

.item_carrito .nombre {
	width: 250px;
}

#cantidad {
text-align: right;
}



.carousel-indicators {
background-color: #e7312d;
width: 100% !important;
left: 0;
margin-left: 0;
bottom: -30px !important;
}

/* DE AQUI */
.text-right{
color: #E4070A;
}

.notivermas{
text-align:right;
margin: -10px 0 0 5px;
}

#myCarousel {
margin-bottom: 20px;
}


.media-body {
text-align: justify;
}

.media-object{
width:64px;
height: 64px;
}

#titulo_msj_mensaje{
font-size: 22px;
}

#msj_popup{
font-size: 16px;
}

.btn_ayuda{font-size: 15px;margin-right: 5px;}

.item_lista_lateral{line-height: 100%}

.img-responsive{width: 80%;margin:30.5px 0;}

.blanco{margin:0}

.btn-fin-compra{margin: 0!important; padding: 0!important; text-align: center!important;}

#group-busca{display:none}

#btn-red-1{display: inline-block;padding-left: 0;margin: 25px 0;float: right;} /* se muestra a lado de 1 2 3 4 5 */

#btn-red-2{position: relative;left: 50%;margin-left: -50px;} /* se muestra en pagina producto */

#cuadro-prod{margin-bottom: 20px;}

#btn-cuadro-prod{position: absolute; bottom: 0px;}

.lista-prod{width: 100%;}

.lista-prod thead{background:#f1f1f2 !important; color: black !important;}
.lista-prod tbody tr {border-bottom: 1px solid; padding-top: 5px; height: 32px;}
.titulo-lista-prod{font-size: 10px;}
.codigo-popup-compra{margin:0;}
.cont-producto-detalle{height: 190px;}

#input-cantidad{text-align: right;width: 60px;}

#codigo-PopUP{margin:0}


.total{color:#FF0000;}

#header-ayuda{
  font-size: 15px;margin-right: 5px;
}

#logo-header{
  width: 80%;margin:30.5px 0;
}

#notivermas{
  text-align:right;margin: -10px 0 0 5px;
}

#modal-header{
  background-color: #E7312D!important;
}

#Title-popUp-Inicio{
  font-size: 22px;
}

#Mensaje-popUp-Inicio{
  font-size: 16px;
}

#link-cert{
  color: blue;
}

.descrip_producto {
margin-bottom: 20px;
}

#input-cantidad{
  margin-left: 25px;
}

#sector-cantidad{
  margin-left: -16px;
}

#tb_mispedidos{/* width:1250px; */ width:100%; margin:0 auto;}
#tb_mispedidos thead{ background-color:#E7312D; color:#fff; padding:2px; }
#tb_mispedidos thead tr td{  font-family: 'Roboto', sans-serif; !important; text-align:left; padding-left:3px; padding-right:3px;}
#tb_mispedidos tbody tr{background:#fff;}
#tb_mispedidos tbody tr:nth-child(odd){background:#e6e7e8;}
#tb_mispedidos tbody tr td{ padding:3px; font-size:12px; text-align:center; font-family: 'Roboto', sans-serif; !important; color:#58595b; border: 1px solid #bababa;}
#tb_mispedidos tbody tr td a.equis_grande{ font-size:26px; color:#E7312D; text-align:center; padding:3px; text-decoration:none; }

#total {
color: red;
}

.pagination{margin:20px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.05);box-shadow:0 0px 0px rgba(0, 0, 0, 0.05);}
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{color:#999999;background-color:transparent;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
.pagination-large ul>li>a,.pagination-large ul>li>span{padding:11px 19px;font-size:17.5px;}
.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;}
.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;border-bottom-right-radius:3px;}
.pagination-small ul>li>a,.pagination-small ul>li>span{padding:2px 10px;font-size:11.9px;}
.pagination-mini ul>li>a,.pagination-mini ul>li>span{padding:0 6px;font-size:10.5px;}


#divLoading
{
	background: url(../../assets/js/img/loader.gif) no-repeat center center;
	height: 150px;
	width: 150px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

/** 27/03/2014 **/
.lbl_OCS{
  width: 80px;
}
.th_mp{
  background-color: #9b9d9d;
}
#cbox1 {
position: relative;
left: 85px;
}
#tam_cbox
{
width: 50%!important;
}
#cboxs{
position: relative;
left: 95px;
}
#cboxs2{
position: relative;
left: 112px;
}
.btn-consultar-mp {
background-color: #E7312D!important;
background-repeat: no-repeat;
background-position: 121px 5px;
border-radius: 0px!important;
color: #FFFFFF;
font-size: 12px;
padding: 5px 10px 5px 10px !important;
text-align: left;
text-decoration: none;
}
#docs_cbox
{
width: 60%!important;
}
#docs_cboxs{
position: relative;
left: 80px;
}
.valores {
text-align: right;
width: 80px;
}
#refOC_fc {
width: 130px;
}
.txt_consulta_mp {
width: 93px;
}
#tb_head_mp {
  background-color: #9b9d9d!important;
}
#list_items_docs tbody tr td{ padding:3px; font-size:14px; text-align:center; font-family: 'Roboto', sans-serif; !important; color:#58595b; border: 1px solid #bababa;}
#list_items_docs tbody tr td{ padding:3px; font-size:14px; text-align:center; font-family: 'Roboto', sans-serif; !important; color:#58595b; border: 1px solid #bababa;}
#texto-medio{
  position: relative;
  left: -17px;
}

#check2 > input {
   transform:scale(2,2);
   -ms-transform:scale(2,2); /* IE 9 */
   -moz-transform:scale(2,2); /* Firefox */
   -webkit-transform:scale(2,2); /* Safari and Chrome */
   -o-transform:scale(2,2); /* Opera */
}


.title_fin_compra {
	position: relative;
	top: -15px;
	left: 15px;
	font-weight: bolder;
}

/** gambi para o modal de ajax ou qqer outro n�o aumentar o body com a class .modal-open, que gera o style abaixo **/
/** found on http://stackoverflow.com/questions/19288546/how-can-i-prevent-body-scrollbar-and-shifting-when-twitter-bootstrap-modal-dialo **/

 /* override bootstrap 3 class to remove scrollbar from modal backdrop
   when not necessary */
.modal {
  overflow-y: auto;
}
/* custom class to add space for scrollbar */
.modal-scrollbar {
    margin-right: 15px;
}

/** END gambi **/

.img_noticia {
	max-width: 100px;
}

.mes_ano_seleccionado {
	font-weight: bold;
	font-style: italic;
}

.tipo_noticia_seleccionada {
	font-weight: bold;
	font-style: italic;
}

.tipo_categoria_seleccionada {
	font-weight: bold;
	font-style: italic;
}

.link_load {
	width: 250px;
	/*background-color: #f1f1f2;*/
	/*border: 1px solid #cccccc;*/
}

.divMsgGenerica {
	display: none;
}

.divInvisible {
	display: none;
}

.load_detalles_pedido {
	color: blue;
	text-decoration: underline;
}

.load_detalles_tracking_pedido {
	color: blue;
	text-decoration: underline;
}

.load_detalles_negado {
	color: blue;
	text-decoration: underline;
}

.load_documento_electronico {
	color: blue;
	text-decoration: underline;
}

.btn_bootstrap {
	display: inline-block;
	padding: 6px 12px;
	/* margin-bottom: 0; */
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.btn-rojo{
	background-color: #e7312d;
	color: white;
	border-radius: 0px;
}

span.nomeMatWarn {
	color: blue;
    text-decoration: underline;
}

/*--- Form Wizard ---*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #000; top: 68px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {color:#fff; content: '\e013'; font-family: "Glyphicons Halflings";  position: absolute; top: 4px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #000;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

@media (max-width: 991px) {
	.metodos_info {
		padding-bottom: 19px!important;
	}

	 .btn-carretilla, .btn-carretilla:hover{
		background-color: #E7312D!important;
		background-image: url(../img/carretilla.png);
		background-repeat: no-repeat;
		background-position: 25px 5px;
		border-radius: 0px!important;
		color: #FFFFFF;
		font-size: 12px;
		margin-left: 0px!important;
		padding-right: 64px!important;
		text-align: left;
		min-width: 100px!important;
		min-height:  30px;
	}

	.divBtnGuardarCarrito {
		margin-top: 10px;
	}

}

@media (max-width: 767px){
	.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
	    top: 45px !important;
	}

	.pull-right{
		float: none !important;
	}

	.principal > .row, .container-custom > .row{
		margin: 0px !important;
	}
}

@media screen and (max-width: 736px) {
    .imgtab{
        width: 45px!important;
    }
    .marcol_slider{
    	padding-right: 0px!important;
    }
}

@media screen and (max-width: 568px) {
    .imgtab{
        width: 45px!important;;
    }
    .marcol_slider{
    	padding-right: 0px!important;
    }
}

@media screen and (max-width: 480px) {
    .imgtab{
        width: 45px!important;;
    }
    .marcol_slider{
    	padding-right: 0px!important;
    }
}

.chosen-container.chosen-container-single {
    width: 100% !important; /* or any value that fits your needs */
}

.mailto {
	color: blue;
	text-decoration: underline;
}

.pagination a {
  border-radius: 10px !important;
  margin-left:5px;
  margin-right:5px;
  background-color: #d7d9db!important;
  border-color: #d7d9db!important;
  color: #384049!important;
  margin: 0 3px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color .3s;
  padding-left: 32px!important;
  padding-right: 32px!important;
  padding-top: 12px!important;
  padding-bottom: 12px!important;
}

.pagination a:hover {
    background-color: #F4313F!important;
    border-color: #F4313F!important;
    color: #fff!important;
}

.pagination li.active a {
  border-radius: 10px !important;
  background-color: #F4313F!important;
  border-color: #F4313F!important;
  color: #fff!important;
}

.div-loading-fade {
    background-color: #0000008c;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    width: 5000px;
    height: 5000px;
    z-index: 4000;
}

a.produtoDetalheLink {
    color: black;
}
